.error-container {
  width: 20rem;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid #a3231f;
  text-align: center;
  background-color: #a3231f;
  color: white;
  text-transform: capitalize;
}
