@use "src/assets/styles/_index.scss" as *;

.header {
  @include flexbox(column, center, center);
}
.quiz-title {
  text-transform: uppercase;
  font-size: 8vw;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.divider {
  margin: 10px;
  width: 100%;
}
