@use "src/assets/styles/_index.scss" as *;

.result {
  @include flexbox(column, "", center);
  height: 60vh;
  text-align: center;
}
.home-link {
  text-decoration: none;
}

.result-btn {
  width: 300px;
  position: relative;
  left: calc(50% - 10px - 150px);
}
