.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  text-align: center;
}
.home-link {
  text-decoration: none;
}

.result-btn {
  width: 300px;
  position: relative;
  left: calc(50% - 10px - 150px);
}
